<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      	
      <%= f.label :name %>
      <%= f.text_field :name,placeholder: 'Your Name', class: 'form-control'%>

      <%= f.label :email %>
      <%= f.email_field :email,placeholder: 'Your Email Address', class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password,placeholder: 'Choose a Password', class: 'form-control' %>

      <%= f.label :password_confirmation, "Repeat Password" %>
      <%= f.password_field :password_confirmation,placeholder: 'Confirm your Password', class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>